html,body {
    background: #fafafa;
    color: #333333;
    margin-top: 3rem;
    position: relative;
    border-color: green;
    word-break: break-word;
    min-width: fit-content;
    overflow: auto;
    margin-right: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .myButton {
    -moz-box-shadow: 1px 9px 22px 0px #5f788a;
    -webkit-box-shadow: 1px 9px 22px 0px #5f788a;
    box-shadow: 1px 9px 22px 0px #5f788a;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f788a), color-stop(1, #5f788a));
    background:-moz-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:-webkit-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:-o-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:-ms-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:linear-gradient(to bottom, #5f788a 5%, #5f788a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f788a', endColorstr='#5f788a',GradientType=0);
    background-color:#5f788a;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:10px 26px;
    text-decoration:none;
    text-shadow:0px 0px 0px #5f788a;
  }
  .myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f788a), color-stop(1, #5f788a));
    background:-moz-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:-webkit-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:-o-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:-ms-linear-gradient(top, #5f788a 5%, #5f788a 100%);
    background:linear-gradient(to bottom, #5f788a 5%, #5f788a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f788a', endColorstr='#5f788a',GradientType=0);
    background-color:#5f788a;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
.page-footer
{
  color: white;
}

.footerlink {
  color: white;
}

.footerlink:visited {
  color: white;
}

.footerlink:hover {
  color: white;
}

a.footerlink:active {
  color: white;
}

.helper{
  height: 250px;
}

.media{
  min-width: 650px;
  min-height: 800px;
}

.page-footer{
  min-width: 650px;
}

.content-section{
  min-width: 650px;
}

footer{
  width: 100%;
  margin: 0;
}

.table{
  min-width: 650px;
}
