{% extends "seminar/base.html" %}
{% load static %}
{% block content %}
<h1>Über uns</h1>
<article class="media content-section">
    <div class="media-body">
        <h6>Organisation</h6>

        <p>Die Château Gaillard Konferenzen werden organisiert und publiziert von einer internationalen
            Interessensgruppe zur Burgenforschung in Mittel- und Westeuropa. Diese werden durch das Comité permanent
            geleitet, das sich zwei Mal jährlich zu Koordinationsmeetings trifft. Die Tagungen finden alle zwei
            Jahre statt und werden vom Comité permanent in der Publikationsreihe
            <a href="https://www.unicaen.fr/puc/html/spipf975.html?rubrique160" target="_blank">
                "Château Gaillard. Études de castellologie médiévale" </a>
            in den Presses universitaires de Caen herausgegeben.
        </p>

        Jedes Mitgliedsland wird durch mindestens einen nationalen Vertreter vertreten, der für die Einwerbung von
        Vorträgen für die Konferenzen und deren Veröffentlichung sowie für die Durchführung von Tagungen im
        Mitgliedstaat verantwortlich ist.</br>
        2020 findet die Konferenz auf Einladung der österreichischen Repräsentanten des Comité permanent statt.
        Gastgeber ist die Universität Salzburg, vertreten durch <b>Dr. Thomas Kühtreiber, Institut für Realienkunde
            des Mittelalters und der frühen Neuzeit</b>.</br></br>

        Die Mitglieder des Tagungskomitees sind:<ul>
            <li>Dr. Peter Höglinger, Bundesdenkmalamt, Abteilung für Archäologie, Salzburg</li>
            <li>Dr. Markus Jeitler, Wien</li>
            <li>Dr. Martin Krenn, Bundesdenkmalamt, Abteilung für Archäologie, Krems an der Donau</li>
            <li>Dr. Thomas Kühtreiber, Universität Salzburg, Institut für Realienkunde des Mittelalters und der
                frühen Neuzeit</li>
            <li>MMag. DDr. Patrick Schicht, Bundesdenkmalamt, Abteilung für Niederösterreich</li>
            <li>Dr. Siegrid Schmidt, Institut für Germanistik, Universität Salzburg</li>
        </ul></br>
        <h6>Kontakt:</h6>
        <strong>Thomas Kühtreiber</strong></br>
        Institut für Realienkunde des Mittelalters und der frühen Neuzeit</br>
        Interdisziplinäres Zentrum für Mittelalter und Frühneuzeit</br>
        Universität Salzburg</br>
        Körnermarkt 13</br>
        3500 Krems an der Donau</br>
        Email: <a href="mailto:thomas.kuehtreiber@sbg.ac.at">thomas.kuehtreiber@sbg.ac.at</a></br>
        Telefon: +43/(0)662/8044/4983</br>
        <br />
        <div class="hvrbox">
            <p><img src="{% static "images/organisation.jpg" %}" width="100%" class="hvrbox-layer_bottom" />
	        <div class="hvrbox-layer_top">
		        <div class="hvrbox-text">© Thomas Kühtreiber</div>
            </div>
        </div>
    </div>
</article>

<style>
    .hvrbox,
  .hvrbox * {
  box-sizing: border-box;
  }
  .hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  }
  .hvrbox img {
  max-width: 100%;
  }
  .hvrbox .hvrbox-layer_bottom {
  display: block;
  }
  .hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
  opacity: 1;
  }
  .hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  .hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
  }
  .hvrbox.active .hvrbox-text_mobile {
  display: block;
  }
  </style>
  
        </form>
      </body>
    </div>
  </article>
  {% endblock content %}