{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'seminar/main.css'%}">
  {% if title %}
  <title>Aventi - {{ title }}</title>
  {% else %}
  <title>Aventi</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container-fluid">
        <a target = "_blank" class="navbar-brand mr-4" href="https://www.imareal.sbg.ac.at/">
          <img height="40" src="{% static "images/imareal_logo.png" %} " />
        </a>
        <a target = "_blank" class="navbar-brand mr-4" href="https://www.uni-salzburg.ac.at/">
          <img height="40" src="{% static "images/UniSalzburg_logo.png" %} " />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            {% if "/fr/" in request.path %}
            <a class="nav-item nav-link" href="{% url 'seminar-home-fr' %}">Home</a>
            {% elif "/en/" in request.path %}
            <a class="nav-item nav-link" href="{% url 'seminar-home-en' %}">Home</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'seminar-home' %}">Home</a>
            {% endif %}
          </div>
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{user.username}}</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            {% if "/fr/" in request.path %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            {% elif "/en/" in request.path %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Einloggen</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Language</a>
              <div class="dropdown-menu">
                {% if "/en/" not in request.path and "/fr/" not in request.path %}
                <a id="deTab" class="dropdown-item active" href="/de{{ request.get_full_path|slice:'3:' }}">Deutsch
                  <div class="text-center float-right">
                    <img class="nav-item mb-1" width="20" src="https://lipis.github.io/flag-icon-css/flags/4x3/de.svg">
                  </div>
                </a>
                {% else %}
                <a id="deTab" class="dropdown-item" href="/de{{ request.get_full_path|slice:'3:' }}">Deutsch
                  <div class="text-center float-right">
                    <img class="nav-item mb-1" width="20" src="https://lipis.github.io/flag-icon-css/flags/4x3/de.svg">
                  </div>
                </a>
                {% endif %}
                {% if "/en/" in request.path %}
                <a id="enTab" class="dropdown-item active" href="/en{{ request.get_full_path|slice:'3:' }}">English
                  <div class="text-center float-right">
                    <img class="nav-item mb-1" width="20" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg">
                  </div>
                </a>
                {% else %}
                <a id="enTab" class="dropdown-item" href="/en{{ request.get_full_path|slice:'3:' }}">English
                  <div class="text-center float-right">
                    <img class="nav-item mb-1" width="20" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg">
                  </div>
                </a>
                {% endif %}
                {% if "/fr/" in request.path %}
                <a id="frTab" class="dropdown-item active" href="/fr{{ request.get_full_path|slice:'3:' }}">Français
                  <div class="text-center float-right">
                    <img class="nav-item mb-1" width="20" src="https://lipis.github.io/flag-icon-css/flags/4x3/mq.svg">
                  </div>
                </a>
                {% else %}
                <a id="frTab" class="dropdown-item" href="/fr{{ request.get_full_path|slice:'3:' }}">Français
                  <div class="text-center float-right">
                    <img class="nav-item mb-1" width="20" src="https://lipis.github.io/flag-icon-css/flags/4x3/mq.svg">
                  </div>
                </a>
                {% endif %}
              </div>
            </li>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main role="main" class="container-fluid">
    <div class="row">
      <div class="col-xl-3"></div>
      <div class="col-xl-6">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif%}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="page-footer font-small bg-steel container-fluid">
    <!-- Footer Links -->
    <div class="container">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold white">
            {% if "/fr/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-about-fr' %}">À propos de nous</a>
            {% elif "/en/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-about-en' %}">About Us</a>
            {% else %}
            <a class="footerlink" href="{% url 'seminar-about' %}">Über uns</a>
            {% endif %}
          </h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-1">
          <h6 class="text-uppercase font-weight-bold white">
            {% if "/fr/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-privacypolicy-fr' %}">Déclaration de confidentialité</a>
            {% elif "/en/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-privacypolicy-en' %}">Privacy policy</a>
            {% else %}
            <a class="footerlink" href="{% url 'seminar-privacypolicy' %}">Datenschutz</a>
            {% endif %}
          </h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold white">
            {% if "/fr/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-imprint-fr' %}">Empreinte</a>
            {% elif "/en/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-imprint-en' %}">Imprint</a>
            {% else %}
            <a class="footerlink" href="{% url 'seminar-imprint' %}">Impressum</a>
            {% endif %}
          </h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold white">
            {% if "/fr/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-contact-fr' %}">Contactez nous</a>
            {% elif "/en/" in request.path %}
            <a class="footerlink" href="{% url 'seminar-contact-en' %}">Contact</a>
            {% else %}
            <a class="footerlink" href="{% url 'seminar-contact' %}">Kontakt</a>
            {% endif %}
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">
    </div>
    <!-- Footer Links -->
    <div class="row text-center d-flex justify-content-center">
      <img class="rounded float-left mt-2 mr-2" height="70" src="{% static "images/BUS_Logo.jpg" %} " />
      <img class="rounded float-left mt-2 mr-2" height="70" src="{% static "images/KV_goldegg_logo.jpg" %} " />
      <img class="rounded float-left mt-2 " height="70" src="{% static "images/GaS.jpg" %} " />
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Aventi </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    jQuery(document).ready(function ($) {
      let selectedTab = window.location.hash;
      $('.nav-link[href="' + selectedTab + '"]').trigger('click');
    })

    $(document).ready(() => {
      let url = location.href.replace(/\/$/, "");

      if (location.hash) {
        const hash = url.split("#");
        $('#myTab a[href="#' + hash[1] + '"]').tab("show");
        url = location.href.replace(/\/#/, "#");
        history.replaceState(null, null, url);
        setTimeout(() => {
          $(window).scrollTop(0);
        }, 400);
      }

      $('a[data-toggle="tab"]').on("click", function () {
        let newUrl;
        const hash = $(this).attr("href");
        if (hash == "#home") {
          newUrl = url.split("#")[0];
        } else {
          newUrl = url.split("#")[0] + hash;
        }
        newUrl += "/";
        history.replaceState(null, null, newUrl);
      });
    });

  </script>
</body>

</html>