{% extends "seminar/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Checkout form</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}
              {{ form|crispy }}
              
              
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>


          </div>

        </div>

        <div class="col-md-4 mb-4">
          <div class="col-md-12 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Bestellungüberblick</span>            
            </h4>
            <ul class="list-group mb-3 z-depth-1">
            {% for order_item in object.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                <h6 class="my-0">{{ order_item.name}}</h6>
                </div>
                <span class="text-muted">{{ order_item.price }}€</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
                <span>Total €</span>
                <strong>{{ order.get_total }}€</strong>
            </li>
            </ul>
        </div>
        </div>

      </div>

    </div>
  </main>

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');
var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");
use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})
use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})
</script>
{% endblock extra_scripts %}