{% extends "seminar/base.html" %}
{% block content %}

{% if "/fr/" in request.path %}
<h1>Contactez nous</h1>
{% elif "/en/" in request.path %}
<h1>Contact</h1>
{% else %}
<h1>Kontakt</h1>
{% endif %}


<article class="media content-section">
    <div class="media-body">
        <strong>Thomas Kühtreiber</strong></br>
        Institut für Realienkunde des Mittelalters und der frühen Neuzeit</br>
        Interdisziplinäres Zentrum für Mittelalter und Frühneuzeit</br>
        Universität Salzburg</br>
        Körnermarkt 13</br>
        3500 Krems an der Donau</br>
        Email: <a href="mailto:thomas.kuehtreiber@sbg.ac.at">thomas.kuehtreiber@sbg.ac.at</a></br>
        Telefon: +43/(0)662/8044/4983
    </div>
</article>
{% endblock content %}