{% extends "seminar/base.html" %}
{% block content %}

<p>An error has occurred during your payment or you have cancelled your payment.
With the button you can return to the homepage.</p>
<a class="btn btn-primary btn-lg btn-block" href="{% url 'seminar-home' %}"><button id="btn" name="go_to_payment" type="button" class="btn btn-primary btn-lg btn-block"></button>
    Home
</button></a>
{% endblock content %}