{% extends "seminar/base.html" %}
{% block content %}
<h3>Your order:</h3>
<label>Items marked with * are required, items not marked are optional.</label>
<label>The number in brackets corresponds to the stock still available.</label>
<article class="media content-section">
  <div class="media-body">
    <form method="POST" action="">
      {% csrf_token %}
        {% for item in items %}
            {% if item.is_required == True %}
              <p><b><label title="{{item.name}}" class="item-required" id="{{forloop.counter}}">{{item.name_en}}:*</label></b></br>
            {% else %}
              <p><b><label title="{{item.name}}" class="item" id="{{forloop.counter}}">{{item.name_en}}:</label></b></br>
            {% endif %}
            {% for specific_component in item.component_set.all %}
              {% if specific_component.quantity == 0 %}
                <input type="radio" class="items-{{forloop.parentloop.counter}}"
                  id="ordersummary-{{forloop.parentloop.counter}}-{{forloop.counter}}" name="{{ item.name }}"
                  value="{{specific_component.name}}" disabled> {{specific_component.name_en}}: {{specific_component.calculateFullPrice}} €  (sold out)
                </br>
              {% else %}
                <input type="radio" class="items-{{forloop.parentloop.counter}}"
                  id="ordersummary-{{forloop.parentloop.counter}}-{{forloop.counter}}" name="{{ item.name }}"
                  value="{{specific_component.name}}"> {{specific_component.name_en}}: {{specific_component.calculateFullPrice}} €   ({{ specific_component.quantity }})
                </br>
              {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
      <button class="btn btn-primary btn-lg btn-block" onclick="createOrder()" value="{{ counted_items }}" name="ordersummary" type="button"
        style="left: 50%;">Book</button>
    </form>
  </div>
</article>

<script>
  var xhr = new XMLHttpRequest();
  var formData = new FormData();

  function createOrder() {
    var checked_components = [];
    var checked_items = [];
    var required_items = [];
    var not_required_items = [];
    var items_not_required = document.getElementsByClassName('item');
    var items_required = document.getElementsByClassName('item-required');
    var items_count = items_not_required.length + items_required.length;
    var last_index_count = 0;
    var required_items_are_selected = 0;

    Array.prototype.forEach.call(items_not_required, function(el) {
      not_required_items.push(el.title);
    });

    Array.prototype.forEach.call(items_required, function(el) {
      required_items.push(el.title);
    });

    for (var i = 1; i <= items_count; i++) {
      var components = document.getElementsByClassName('items-' + i).length;
      var concrete_item = document.getElementById(i);

      for (var j = 0; j < components; j++) {
        last_index_count++;
        var rdbutton = document.getElementById("ordersummary-" + i + "-" + last_index_count);
        if (rdbutton.checked) {
          checked_items.push(concrete_item.title);
          console.log(concrete_item.title)
          checked_components.push(rdbutton.value);
          console.log(rdbutton.value)
        }
      }
      last_index_count = 0;
    }

    Array.prototype.forEach.call(checked_items, function(el) {
      Array.prototype.forEach.call(required_items, function(required_element) {
        if(el === required_element){
          required_items_are_selected++;
        }
      });
    });

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    
    if (required_items.length === required_items_are_selected){
      xhr.open('POST', '{{ HTTP_HOST }}/{{post.slug}}/ordersummary/', true);
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
      xhr.withCredentials = true;
      xhr.upload.onprogress = function (e) {
        //update
      };

      xhr.onload = function (e) {
        if (xhr.status === 200 && required_items.length === required_items_are_selected) {
          location.replace("{{HTTP_HOST}}/en/{{post.slug}}/ordersummary/data")
        } 
      };
      
      xhr.send(JSON.stringify({ 'components': checked_components, 'items': checked_items}));
    }
    else{
      alert("Please select all required items!");
    }
  }
</script>
{% endblock content %}