{% extends "seminar/base.html" %}
{% block content %}
<h1>Impressum</h1>
<article class="media content-section">
    <div class="media-body">
        <h3>Homepagebetreiber - inhaltliche und redaktionelle Verantwortung:</h3>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Diese Homepage dient zur Information über die Veranstaltungen des Instituts für Realienkunde des Mittelalter
            und der frühen Neuzeit (IMAREAL), Universität Salzburg.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Institut für Realienkunde des Mittelalters und der frühen Neuzeit, Universität Salzburg, Körnermarkt 13, 3500
            Krems an der Donau</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:html /-->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p><strong>Vertreten durch</strong>: Geschäftsführerin MMag.a Dr.in Elisabeth Gruber</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Webbetreuerin:<br />ingrid.matschinegg[at]sbg.ac.at</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Die inhaltliche Betreuung der Seite chateaugaillard.imareal.sbg.ac.at obliegt dem IMAREAL, Universität
            Salzburg. Es gelten die Bedingungen, die im <a href="http://www.uni-salzburg.at/index.php?id=200699"
                target="_blank" rel="noreferrer noopener">Impressum auf der Homepage der Universität Salzburg</a>
            veröffentlicht werden.<br />Datenverarbeitungsregister-Nummer: 0079481</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Technischer Support:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Die technische Betreuung des WWW-Servers chateaugaillard.imareal.sbg.ac.at erfolgt durch die IT-Services der
            Universität Salzburg.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Design und Umsetzung:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Kevin Zach & Diego Traxler</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Haftung:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Die Texte auf der Homepage wurden vor der Veröffentlichung einer sorgfältigen Prüfung unterzogen. Dessen
            ungeachtet kann keine Garantie für die Richtigkeit, Vollständigkeit und Aktualität der Angaben übernommen
            werden. Eine Haftung der Universität Salzburg wird daher ausgeschlossen. Die Links zu anderen Seiten wurden
            gewissenhaft ausgewählt. Da das IMAREAL, Universität Salzburg auf deren Inhalte keinen Einfluss hat,
            übernimmt das IMAREAL dafür auch keine Verantwortung. Weder das IMAREAL noch die Universität Salzburg können
            für fehlende oder irrtümliche Informationen haftbar gemacht werden.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Copyright:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Das Webangebot des IMAREAL unterliegt dem geltenden Urheberrecht. Das Copyright liegt beim Institut für
            Realienkunde des Mittelalters und der frühen Neuzeit, Körnermarkt 13, A-3500 Krems.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
    </div>
</article>
{% endblock content %}