{% extends "seminar/base.html" %}
{% block content %}
<h1>Imprint</h1>
<article class="media content-section">
    <div class="media-body">
        <h3>Homepage owner – content and editorial responsibility:</h3>
        <p></p>
        <p></p>
        <p>This homepage serves to inform about the events of the Institut für Realienkunde des Mittelalters und der
            frühen Neuzeit (IMAREAL), University of Salzburg.</p>
        <p></p>
        <p></p>
        <p>Institut für Realienkunde des Mittelalters und der frühen Neuzeit, University of Salzburg, Körnermarkt 13,
            3500 Krems an der Donau, Austria</p>
        <p></p>
        <p></p>
        <p><strong>Represented by:</strong> Managing Director MMag. Dr. Elisabeth Gruber</p>
        <p></p>
        <p></p>
        <p>Web responsibility: ingrid.matschinegg[at]sbg.ac.at</p>
        <p></p>
        <p></p>
        <p>The content of the chateaugaillard.imareal.sbg.ac.at is the responsibility of IMAREAL, University of
            Salzburg. The conditions, which are published in the imprint on the homepage of the University of Salzburg,
            apply.</p>
        <p></p>
        <p></p>
        <p>Data processing register number: 0079481</p>
        <p></p>
        <p></p>
        <h6>Technical support:</h6>
        <p></p>
        <p></p>
        <p>Technical support for the WWW server chateaugaillard.imareal.sbg.ac.at is provided by the IT Services of the
            University of Salzburg.</p>
        <p></p>
        <p></p>
        <h6>Design and implementation:</h6>
        <p></p>
        <p></p>
        <p>Kevin Zach & Diego Traxler</p>
        <p></p>
        <p></p>
        <h6>Liability:</h6>
        <p></p>
        <p></p>
        <p>The texts on the homepage have been carefully checked before publication. Nevertheless, no guarantee can be
            given for the accuracy, completeness and timeliness of the information. The IMAREAL, university of Salzburg
            is therefore not liable. The links to other sites have been carefully selected. Since the IMAREAL,
            University of Salzburg has no influence on their contents, the IMAREAL assumes no responsibility for them.
            Neither the IMAREAL nor the University of Salzburg can be held liable for missing or erroneous information.
        </p>
        <p></p>
        <p></p>
        <h6>Copyright:</h6>
        <p></p>
        <p></p>
        <p>The IMAREAL website is subject to the applicable copyright law. The copyright lies with the Institut für
            Realienkunde des Mittelalters und der frühen Neuzeit, Körnermarkt 13, 3500 Krems an der Donau, Austria.</p>
        <p></p>
    </div>
</article>
{% endblock content %}