{% extends "seminar/base.html" %}
{% block content %}
<h1>Imprint</h1>
<article class="media content-section">
    <div class="media-body">
        <p>
            <!-- wp:heading {"level":3} -->
        </p>
        <h3>Homepage owner – content and editorial responsibility:</h3>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>This homepage serves to inform about activities of the<br />Institut für Realienkunde des Mittelalters und
            der frühen Neuzeit<br />(IMAREAL), University of Salzburg.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Institut für Realienkunde des Mittelalters und der frühen<br />Neuzeit, University of Salzburg, Körnermarkt
            13, 3500 Krems an der Donau,<br />Austria</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p><strong>Represented by:</strong> Managing Director Mag. Dr. Elisabeth Gruber</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Web responsibility: ingrid.matschinegg[at]sbg.ac.at</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>The content<br />of the website chateaugaillard2020.imareal.sbg.ac.at is in the responsibility of IMAREAL,
            University<br />of Salzburg. The conditions, which are published in the imprint on the homepage<br />of the
            University of Salzburg, apply.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Data<br />processing register number: 0079481</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Technical support:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Technical<br />support for the WWW server chateaugaillard2020.imareal.sbg.ac.at is provided by the IT
            Services<br />of the University of Salzburg.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Design and implementation:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Kevin Zach & Diego Traxler </p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Liability:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>The texts on the homepage have been carefully checked before publication. Nevertheless, no guarantee can be
            given for the accuracy, completeness and timeliness of the information. The IMAREAL, University of Salzburg
            is therefore not liable. The links to other sites have been carefully selected. Since the IMAREAL,
            University of Salzburg has no influence on their contents, the IMAREAL assumes no responsibility for them.
            Neither the IMAREAL nor the University of Salzburg can be held liable for missing or erroneous information.
        </p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Copyright:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>The IMAREAL<br />website is subject to the applicable copyright law. The copyright lies<br />with the
            Institut für Realienkunde des Mittelalters und der frühen Neuzeit,<br />Körnermarkt 13, 3500 Krems an der
            Donau, Austria.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
    </div>
</article>
{% endblock content %}