{% extends "seminar/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
    <div>
        <textarea style="display: none" id="KCO">
            {{ data.html_snippet }}
        </textarea>

        <div id="checkout-container"></div>
        <a href="{% url 'seminar-home' %}"><button name="ordersummary" type="button" class="btn btn-primary btn-lg btn-block">Bestellung beenden</button></a>
        <div class="helper"></div>
    </div>



    <!-- START - Dont edit -->
    <script type="text/javascript">
        var checkoutContainer = document.getElementById('checkout-container')
        checkoutContainer.innerHTML = (document.getElementById("KCO").value).replace(/\\"/g, "\"").replace(/\\n/g, "");
        var scriptsTags = checkoutContainer.getElementsByTagName('script')
        for (var i = 0; i < scriptsTags.length; i++) {
            var parentNode = scriptsTags[i].parentNode
            var newScriptTag = document.createElement('script')
            newScriptTag.type = 'text/javascript'
            newScriptTag.text = scriptsTags[i].text
            parentNode.removeChild(scriptsTags[i])
            parentNode.appendChild(newScriptTag)
        }
    </script>

</div>
</article>
{% endblock content %}