{% extends "seminar/base.html" %}
{% load static %} 
{% block content %}
<h1>About</h1>
<article class="media content-section">
    <div class="media-body">            
            <h1>Error</h1>
    </div>
</article>
{% endblock content %}