{% extends "seminar/base.html" %}
{% load static %} 
{% block content %}
<h1>About</h1>
<article onload="load()" class="media content-section">
        <form name="test" method="post" action="http://www.example.com">
            <input type="hidden" name="foo" value={{ foo }} />
            <input type="hidden" name="bar" value={{ bar }} />
        </form>
    <div class="media-body">            
            <h1>Complete</h1>
    </div>
</article>

<script type="text/javascript">
    function load()
    {
         window.document.test.submit();
         return;
    }
</script>
{% endblock content %}