{% extends "seminar/base.html" %}
{% block content %}

<h2>Checkout</h2>

<p>Please copy the pin to complete the authentication process:</p>
<div class="jumbotron" onload="load()">
  <h1 onclick="copyToClipboard('#p1')" id="p1" style="margin-left: 45.5%; font-size:75px;">{{ pin }}</h1>
</div>
<form name="test" method="post" action="http://www.example.com">
  <input type="hidden" name="foo" value={{ foo }} />
  <input type="hidden" name="bar" value={{ bar }} />
</form>
<p style="margin-bottom: 35px;"></p>
<p>Once you have done this, click on the button that redirects you to the payment portal.</p>
<a href="{{ url }}" target="_blank"><button id="btn" name="go_to_payment" type="button"
    class="btn btn-primary btn-lg btn-block">To the payment portal</button></a>

<div class="helper"></div>
<div class="helper"></div>

<script>
  function copyToClipboard(element) {

    document.execCommand("copy");  
    var btn = document.getElementById("btn")
    var text = document.querySelector(element).textContent;
    var output = document.getElementById("output");
    navigator.clipboard.writeText(text).then(function() {
      btn.style.display = "block";
    });
  }
</script>
<script type="text/javascript">
  function load()
  {
       window.document.test.submit();
       return;
  }
  </script>
{% endblock content %}