{% extends "seminar/base.html" %}
{% block content %}
{% load static %}
<article  class="media content-section">
  <div class="media-body">
    <h2>{{ Post.title }}</h2>

    <body>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" onclick="descriptionFunction()" id="description-tab" data-toggle="tab" href="#description"
            role="tab" aria-controls="description" aria-selected="true">Beschreibung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="programFunction()" id="program-tab" data-toggle="tab" href="#program" role="tab" aria-controls="program"
            aria-selected="false">Programm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="destinationFunction()" id="destination-tab" data-toggle="tab" href="#destination" role="tab"
            aria-controls="destination" aria-selected="false">Anfahrt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="priceFunction()" id="price-tab" data-toggle="tab" href="#price" role="tab"
            aria-controls="price" aria-selected="false">Preis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" onclick="registrationFunction()" id="registration-tab" data-toggle="tab" href="#registration" role="tab"
            aria-controls="registration" aria-selected="false">Anmeldung</a>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <p>{{ Post.description.content|safe|linebreaks }}</p>
              {% if Post.description.image %}
              <img src="Post.description.image.url" width="100%" />
              {% endif %}
            </div>
            <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">
              {% if days_counter != 0 %}
              {% for day in days %}
              <p class="stripe">
                <h6 style="font-size: large; margin-bottom: -20px;"><u>{{ day.day }}</u></h6>
                {{ day.content|safe|linebreaks }}
                {% if day.image %}
                  <div class="hvrbox">
                    <p><img src="{{ day.image.url }}" width="75%" height="50%"
                      style="padding-left: 25%; margin-bottom: 20px; margin-top: -10px;" class="hvrbox-layer_bottom" />
                  <div class="hvrbox-layer_top">
                    <div class="hvrbox-text">{{day.image_source}}</div>
                    </div>
                </div>
                {% endif %}
              </p>
              {% endfor %}
              {% else %}
              <h1>Kein Programm vorhanden</h1>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="destination" role="tabpanel" aria-labelledby="destination-tab">
              <p>{{ Post.arrival.content|safe }}
                {% if Post.arrival.image %}
                <img src="Post.arrival.image.url" width="100%" />
                {% endif %}
              </p>
            </div>
            <div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="price-tab">
              <p>{{ Post.price.content|safe }}</p>
              {% if Post.price.image %}
              <img src="Post.price.image.url" width="100%" />
              {% endif %}
              </p>
            </div>
            <div class="tab-pane fade" id="registration" role="tabpanel" aria-labelledby="registration-tab">
              <p>
                <p>{{ registration.content|safe }}
                  {% if registration.image  %}
                  <div class="hvrbox">
                    <p><img src="{{registration.image.url}}" width="100%" class="hvrbox-layer_bottom" />
                  <div class="hvrbox-layer_top">
                    <div class="hvrbox-text">© Schaad</div>
                    </div>
                </div>
                  {% endif  %}
                </p>
                {% for group in groups %}
                {% if group.name == "is_authorized" %}
                <a href="/de/{{ Post.slug }}/form"><button name="go_to_order" type="button"
                    class="btn btn-primary btn-lg btn-block">Tagung buchen</button></a>
                {% endif %}
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
      <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
      </script>
      <script>
        var b;
        window.onload = function getTab(){
          b = window.location.href;
          b = b.substr(84,20);
          document.getElementById('enTab').href = "/en{{ request.get_full_path|slice:'3:' }}"+b;
          document.getElementById('frTab').href = "/fr{{ request.get_full_path|slice:'3:' }}"+b;
        };
        var a = "#description/"
        function descriptionFunction() {
          a = "#description/"
          document.getElementById('enTab').href = "/en{{ request.get_full_path|slice:'3:' }}"+a;
          document.getElementById('frTab').href = "/fr{{ request.get_full_path|slice:'3:' }}"+a;
        };
        function programFunction() {
          a = "#program/"          
          document.getElementById('enTab').href = "/en{{ request.get_full_path|slice:'3:' }}"+a;
          document.getElementById('frTab').href = "/fr{{ request.get_full_path|slice:'3:' }}"+a;
        };
        function destinationFunction() {
          a = "#destination/"
          document.getElementById('enTab').href = "/en{{ request.get_full_path|slice:'3:' }}"+a;
          document.getElementById('frTab').href = "/fr{{ request.get_full_path|slice:'3:' }}"+a;
        };
        function registrationFunction() {
          a = "#registration/"
          document.getElementById('enTab').href = "/en{{ request.get_full_path|slice:'3:' }}"+a;
          document.getElementById('frTab').href = "/fr{{ request.get_full_path|slice:'3:' }}"+a;
        };
        function priceFunction() {
          a = "#price/"
          document.getElementById('enTab').href = "/en{{ request.get_full_path|slice:'3:' }}"+a;
          document.getElementById('frTab').href = "/fr{{ request.get_full_path|slice:'3:' }}"+a;
        };        
      </script>

<style>
  .hvrbox,
.hvrbox * {
box-sizing: border-box;
}
.hvrbox {
position: relative;
display: inline-block;
overflow: hidden;
max-width: 100%;
height: auto;
}
.hvrbox img {
max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
display: block;
}
.hvrbox .hvrbox-layer_top {
opacity: 0;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);
color: #fff;
padding: 15px;
-moz-transition: all 0.4s ease-in-out 0s;
-webkit-transition: all 0.4s ease-in-out 0s;
-ms-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
opacity: 1;
}
.hvrbox .hvrbox-text {
text-align: center;
font-size: 18px;
display: inline-block;
position: absolute;
top: 50%;
left: 50%;
-moz-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
font-size: 15px;
border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
border-top: 1px solid rgba(179, 179, 179, 0.7);
margin-top: 5px;
padding-top: 2px;
display: none;
}
.hvrbox.active .hvrbox-text_mobile {
display: block;
}
</style>

      </form>
    </body>
  </div>
</article>
{% endblock content %}