{% extends "seminar/base.html" %}
{% block content %}
<h1 class="text-nowrap">Datenschutzerklärung:</h1>
<article class="media content-section">
    <div class="media-body">
        <p></p>
        <p></p>
        <p>Der Schutz Ihrer personenbezogenen Daten und Ihrer Privatsphäre ist uns ein besonderes Anliegen – Wir
            verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen: Verordnung (EU)
            2016/679 Datenschutz-Grundverordnung (DSGVO) und österreichisches Datenschutzgesetz (DSG).</p>
        <p></p>
        <p></p>
        <p>Unter den unten angegebenen Kontaktdaten der/des Datenschutzbeauftragten können Sie jederzeit folgende Rechte
            ausüben:</p>
        <p></p>
        <p></p>
        <ul>
            <li>Auskunft über Ihre bei uns gespeicherten Daten<br />und deren Verarbeitung,</li>
            <li>Berichtigung unrichtiger personenbezogener Daten,</li>
            <li>Löschung Ihrer bei uns gespeicherten Daten,</li>
            <li>Einschränkung der Datenverarbeitung, sofern wir<br />Ihre Daten aufgrund gesetzlicher Pflichten noch
                nicht löschen dürfen,</li>
            <li>Widerspruch gegen die Verarbeitung Ihrer Daten<br />bei uns und Datenübertragbarkeit, sofern Sie in die
                Datenverarbeitung<br />eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben.</li>
        </ul>
        <p></p>
        <p></p>
        <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft
            widerrufen.</p>
        <p></p>
        <p></p>
        <h6>Zwecke der<br />Datenverarbeitung:</h6>
        <p></p>
        <p></p>
        <p>Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken.
            Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht
            statt. Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>
        <p></p>
        <p></p>
        <ul>
            <li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
            <li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist,</li>
            <li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist</li>
            <li>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme
                besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.
            </li>
        </ul>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <h6>Löschung bzw. Sperrung der Daten:</h6>
        <p></p>
        <p></p>
        <p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre
            personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten
            Zwecke<br />erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen
            vorsehen. Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten
            routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.</p>
        <p></p>
        <p></p>
        <h6>Erfassung allgemeiner Informationen beim Besuch unserer Website:</h6>
        <p></p>
        <p></p>
        <p>Wenn Sie auf unsere Website zugreifen, werden automatisch mittels eines Cookies Informationen allgemeiner
            Natur erfasst.<br />Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers,<br />das
            verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers<br />und ähnliches. Hierbei
            handelt es sich ausschließlich um Informationen, welche<br />keine Rückschlüsse auf Ihre Person zulassen.
        </p>
        <p></p>
        <p></p>
        <p>Diese Informationen sind technisch notwendig, um von Ihnen angeforderte Inhalte von Webseiten korrekt
            auszuliefern und fallen bei Nutzung des Internets zwingend an. Sie werden insbesondere zu folgenden Zwecken
            verarbeitet:</p>
        <p></p>
        <p></p>
        <ul>
            <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
            <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
            <li>Auswertung der Systemsicherheit und -stabilität sowie zu weiteren administrativen Zwecken.</li>
        </ul>
        <p></p>
        <p></p>
        <p>Die Verarbeitung Ihrer personenbezogenen Daten basiert auf unserem berechtigten Interesse aus den
            vorgenannten Zwecken zur Datenerhebung. Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu
            ziehen. Empfänger der Daten sind nur die verantwortliche Stelle und ggf. Auftragsverarbeiter.</p>
        <p></p>
        <p></p>
        <p>Anonyme Informationen dieser Art werden von uns gegebenenfalls statistisch ausgewertet, um unseren
            Internetauftritt und die dahinterstehende Technik zu optimieren.</p>
        <p></p>
        <p></p>
        <h6>Cookies:</h6>
        <p></p>
        <p></p>
        <p>Wie viele andere Webseiten verwenden wir auch so genannte „Cookies“. Cookies sind kleine Textdateien, die von
            einem Websiteserver auf Ihre Festplatte übertragen werden. Hierdurch erhalten wir automatisch bestimmte
            Daten wie z. B. die IP-Adresse, den verwendeten Browser, das<br />Betriebssystem und Ihre Verbindung zum
            Internet.</p>
        <p></p>
        <p></p>
        <p>Cookies können nicht verwendet werden, um Programme zu starten oder Viren auf einen Computer zu übertragen.
            Anhand der in Cookies enthaltenen Informationen können wir Ihnen die Navigation erleichtern und die korrekte
            Anzeige unserer Webseiten ermöglichen.</p>
        <p></p>
        <p></p>
        <p>In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben oder ohne Ihre Einwilligung eine
            Verknüpfung mit personenbezogenen Daten hergestellt.</p>
        <p></p>
        <p></p>
        <p>Natürlich können Sie unsere Website grundsätzlich auch ohne Cookies betrachten. Internet-Browser sind
            regelmäßig so eingestellt, dass sie Cookies akzeptieren. Im Allgemeinen können Sie die<br />Verwendung von
            Cookies jederzeit über die Einstellungen Ihres Browsers<br />deaktivieren. Bitte verwenden Sie die
            Hilfefunktionen Ihres Internetbrowsers,<br />um zu erfahren, wie Sie diese Einstellungen ändern können.
            Bitte beachten Sie,<br />dass einzelne Funktionen unserer Website möglicherweise nicht
            funktionieren,<br />wenn Sie die Verwendung von Cookies deaktiviert haben.</p>
        <p></p>
        <p></p>
        <h6>SSL-Verschlüsselung:</h6>
        <p></p>
        <p></p>
        <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik
            entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
        <p></p>
        <p></p>
        <h6>Änderung unserer Datenschutzbestimmungen:</h6>
        <p></p>
        <p></p>
        <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
            Anforderungen entspricht oder um Änderungen unserer Leistungen in der<br />Datenschutzerklärung umzusetzen,
            z.B. bei der Einführung neuer Services. Für<br />Ihren erneuten Besuch gilt dann die neue
            Datenschutzerklärung.</p>
        <p></p>
        <p></p>
        <h6>Fragen:</h6>
        <p></p>
        <p></p>
        <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die
            für den Datenschutz verantwortliche Person in unserem Institut: Ingrid Matschinegg, <a
                href="mailto: ingrid.matschinegg@sbg.ac.at">ingrid.matschinegg@sbg.ac.at</a>, Institut für Realienkunde
            des Mittelalters und der frühen Neuzeit, Körnermarkt 13, 3500 Krems an der Donau</p>
        <p></p>
    </div>
</article>
{% endblock content %}
<p></p>