{% extends "seminar/base.html" %}
{% block content %}
<h1>Privacy policy:</h1>
<article class="media content-section">
    <div class="media-body">
        <p>We take the protection of your personal data and your privacy seriously. We therefore only process your data
            in the framework of the legal regulations<strong>:</strong> European Parliament Directive (EU) 2016/679 data
            protection regulations (GDPR, General Data Protection Regulation) and Austrian Data Protection Act (DSG).
        </p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>You can exercise the following rights at any time using the contact details of the data protection officer
            given below:</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:list -->
        </p>
        <ul>
            <li>Information about your data stored with us and their processing,</li>
            <li>Correction of incorrect personal data,</li>
            <li>Deletion of your data stored with us,</li>
            <li>Restriction of data processing if we are not yet allowed to delete your data due to legal obligations,
            </li>
            <li>Objection to the processing of your data by us and data transferability, if you have consented to data
                processing or have concluded a contract with us.</li>
        </ul>
        <p>
            <!-- /wp:list -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>If you have given us your consent, you can revoke it at any time with effect for the future.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Purposes of data processing:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>We process your personal data only for the purposes stated in this data protection declaration. Your personal
            data will not be transferred to third parties for purposes other than those stated. We will only pass on
            your personal data to third parties if:</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:list -->
        </p>
        <ul>
            <li>you have given your express consent to this,</li>
            <li>the processing is necessary to process a contract with you,</li>
            <li>the processing is necessary to fulfil a legal obligation</li>
            <li>the processing is necessary to safeguard legitimate interests and there is no reason to assume that you
                have an overriding legitimate interest in the non-disclosure of your data.</li>
        </ul>
        <p>
            <!-- /wp:list -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Deletion or blocking of data:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>We adhere to the principles of data avoidance and data economy. We therefore only store your personal data
            for as long as is necessary to achieve the purposes stated here or as the various storage periods provided
            for by law. After the respective purpose has ceased or these periods have expired, the corresponding data
            will be routinely blocked or deleted in accordance with the statutory provisions.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Collection of general information when visiting our website:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>When you access our website, information of a general nature is automatically collected by means of a cookie.
            This information (server log files) includes, for example, the type of web browser, the operating system
            used, the domain name of your Internet service provider and the like. This is only information which does
            not allow any conclusions to be drawn about your person.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>This information is technically necessary for the correct delivery of content requested by you from websites
            and is mandatory when using the Internet. In particular, they are processed for the following purposes:</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:list -->
        </p>
        <ul>
            <li>Ensuring a trouble-free connection to the website,</li>
            <li>Ensuring the smooth use of our website,</li>
            <li>Evaluation of system security and stability as well as for other administrative purposes.</li>
        </ul>
        <p>
            <!-- /wp:list -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>The processing of your personal data is based on our legitimate interest in the aforementioned purposes of
            data collection. We do not use your data to draw conclusions about your person. Recipients of the data are
            only the responsible body and, if applicable, the contract processor.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Anonymous information of this kind may be statistically evaluated by us in order to optimise our website and
            the technology behind it.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Cookies:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Like many other websites, we also use so-called „cookies“. Cookies are small text files that are transferred
            from a website server to your hard drive. This automatically provides us with certain data such as IP
            address, browser used, operating system and your connection to the Internet.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Cookies cannot be used to start programs or transfer viruses to a computer. The information contained in
            cookies enables us to make navigation easier for you and to display our web pages correctly.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Under no circumstances will the data collected by us be passed on to third parties or linked to personal data
            without your consent.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>Of course, you can also view our website without cookies. Internet browsers are regularly set to accept
            cookies. In general, you can deactivate the use of cookies at any time via the settings of your browser.
            Please use the help functions of your Internet browser to find out how you can change these settings. Please
            note that individual functions of our website may not work if you have deactivated the use of cookies.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>SSL encryption:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>In order to protect the security of your data during transmission, we use state-of-the-art encryption
            procedures (e.g. SSL) via HTTPS.</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Changes to our data protection regulations:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>We reserve the right to adapt this data protection declaration so that it always corresponds to the current
            legal requirements or to implement changes to our services in the data protection declaration, e.g. when
            introducing new services. Your renewed visit will then be subject to the new data protection declaration.
        </p>
        <p>
            <!-- /wp:paragraph -->
        </p>
        <p>
            <!-- wp:heading {"level":6} -->
        </p>
        <h6>Questions:</h6>
        <p>
            <!-- /wp:heading -->
        </p>
        <p>
            <!-- wp:paragraph -->
        </p>
        <p>If you have any questions regarding data protection, please send us an e-mail or contact the person
            responsible for data protection at our institute directly:<br /><br />Ingrid
            Matschinegg<br />ingrid.matschinegg@sbg.ac.at<br />Institute for Medieval and Early Modern Material
            Culture<br />Körnermarkt 13<br />3500 Krems an der Donau<br />Austria</p>
        <p>
            <!-- /wp:paragraph -->
        </p>
    </div>
</article>
{% endblock content %}