{% extends "seminar/base.html" %}
{% block content %}
<h2>Your order summary</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Selection</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for order_item in order_component %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.component.item.name_en }}</td>
            <td>{{ order_item.component.name_en }}</td>
            <td>{{ order_item.component.calculateFullPrice }} €</td>
        </tr>
        {% endfor %}
        {% if order.get_total %}
        <tr>
            <td colspan="3"><b>Total amount</b></td>
            <td><b>{{ order.get_total }} €</b></td>
        </tr>
        <tr>
            <td colspan="5">
                <a class='btn btn-primary float-right' href="/en/{{post.slug}}/checkout">Checkout</a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<div class="helper"></div>
<div class="helper"></div>
{% endblock content %}