{% extends "seminar/base.html" %}
{% block content %}
<h2>Récapitulatif de la commande</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Article</th>
            <th scope="col">Sélection</th>
            <th scope="col">Coût</th>
        </tr>
    </thead>
    <tbody>
        {% for order_item in order_component %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.component.item.name_fr }}</td>
            <td>{{ order_item.component.name_fr }}</td>
            <td>{{ order_item.component.calculateFullPrice }} €</td>
        </tr>
        {% endfor %}
        {% if order.get_total %}
        <tr>
            <td colspan="3"><b>Montant total</b></td>
            <td><b>{{ order.get_total }} €</b></td>
        </tr>
        <tr>
            <td colspan="5">
                <a class='btn btn-primary float-right' href="/fr/{{post.slug}}/checkout">En paiement</a>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<div class="helper"></div>
<div class="helper"></div>
{% endblock content %}