{% extends "seminar/base.html" %}
{% block content %}
        <h2>You have been logged out</h2>
        <div class = "border-top pt-3">
            <small class = "text-muted">
                Already have an Account?
                <a href="{% url 'login' %}">Log In again</a>
            </small>
        </div>
        <div class="helper"></div>
        <div class="helper"></div>
{% endblock content %}