{% extends "seminar/base.html" %}
{% block content %}
        <div class="alert alert-info">
            Your password has been changed successfully!
        </div>
        <div class="helper"></div>
        <div class="helper"></div>
{% endblock content %}