{% extends "seminar/base.html" %}
{% block content %}
        <div class="alert alert-info">
            An email has been sent with instructions to reset your password
        </div>
        <div class="helper"></div>
        <div class="helper"></div>
{% endblock content %}