{% extends "seminar/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group text-center">
                <button class = "btn btn-outline-info" type = "submit">Reset Password</button>
            </div>
        </form>
    </div>
    <div class="helper"></div>
{% endblock content %}