{% extends "seminar/base.html" %}
{% load static %} 
{% block content %}
<h1>Profil</h1>
<div class="content-section">
      <img class="rounded-circle account-img rounded float-left mr-4" src="{% static "images/profile.png" %}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
        <a href="{% url 'password_reset' %}">Change password</a>
      </div>
    <!-- FORM HERE -->
  </div>
  <div class="helper"></div>
{% endblock content %}