{% extends "seminar/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method = "POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Erstelle einen Account</legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">Registrieren</button>
            </div>
        </form>
        <div class = "border-top pt-3">
            <small class = "text-muted">
                Besitzen Sie bereits einen Account?
                <a class="ml-2" href="{% url 'login' %}">Einloggen</a>
            </small>
        </div>
    </div>
{% endblock content %}